<div class="container">
  <div class="row">
    <% posts.each do |post| %>
      <div class="col-md-2 mt-3">
        <%= link_to post_path(post.id) do %>
          <%= image_tag (post.image), size: "200x200" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="pagination justify-content-center mt-2">
    <%= paginate posts %>
  </div>
</div>

