<!--下書き一覧　部分テンプレート-->
<div style="background-color:#FFF;">
  <div class="text-center">
     <h5><%= image_tag "post.confirm.jpg", size: "220x80" %></h5>
  </div>
  <div class="text-center post-confirm">
    <% posts.each do |post| %>
      <%= link_to post_path(post.id) do %>
        <%= image_tag (post.image) %>
      <% end %>
    <% end %>
  </div>
</div>
