<div class="container">
    <div class="row">
        <%= image_tag @post.image, size: "500x500" %>
    </div>

    <div class="row">
        <p><%= @user.username %></p>
    </div>

    <div class="row">
        <%= @post.text %>
    </div>
</div>