<div class="container">

  <div class="row">
  <% @message.each do |message| %>
    <div class="col-md-3">
      <%= image_tag (message.image), size: "300x300" %>
    </div>
    <div class="col-md-6">
      <%= message.message %>
    </div>
  <% end %>
  </div>
</div>
