<div class="row">
<% if user_signed_in? %>
  <%= form_with(model:[post, comment], local: false) do |f| %>
  <div class="row mb-2">
    <div class="col-8">
      <%= f.text_area :comment, rows:'2', placeholder: "コメントを投稿", class: "w-100" %>
    </div>
    <div class="col-2">
      <%= f.submit "送信する", class: "btn btn-outline-success" %>
    </div>
  </div>
  <% end %>
<% end %>
</div>