<table>
  <tbody>
      <% post.comments.each do |comment| %>
      <tr>
        <td><%= comment.user.username %>：<%= comment.comment %>：<%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></td>
        <td>
          <% if comment.user == current_user %>
            <%= link_to "削除する", post_comment_path(post, comment), method: :delete, remote: true, class: "btn btn-danger pull-right" %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>