<div class="form-inline my-2 float-right">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :word, placeholder: "投稿画像を検索", class: "form-control" %>
    <%= f.submit "検索", class: "btn btn-success my-2 my-sm-0 search_btn" %>
  <% end %>
</div>