<div class="container">
  <div class="row">
    <h4 class="m-3">新規作成</h4>
  </div>
  
  <div class="row">
    <div class="mx-auto">
      
      <%= form_with model: @message, url: admin_messages_path, local: true do |f| %>
      
    </div>
  </div>
</div>