<!--部分テンプレート　カテゴリー検索機能-->
<div style="background-color:#FFF;">
  <div class="row">
    <table class="table table-borderless">
      <tr>
        <th class="text-center">
          <h5><%= image_tag "category.index.jpg", size: "130x40" %></h5>
        </th>
      </tr>
      <% category.each do |category| %>
      <tr>
        <td class="text-center"><%= link_to category.name, admin_path(category_id: category.id) %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>