<div>
    <%= flash[:notice] %>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">

        <% @posts.each do |post| %>
        <div class="col-md-4">
            <div>
                <%= link_to admin_post_path(post.id) do %>
                    <%= image_tag (post.image), size: "300x300" %>
                <% end %>
            </div>
            <% end %>
        </div>
    </div>
    <div class="pagination justify-content-center mt-2">
      <%= paginate @posts %>
    </div>
</div>

