@use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';

// TOPページレイアウト
.main-container {
  padding: 0;
}

.main-visual {
  padding: 0;
}

.main-visual .col {
  padding: 0;
}


// deviseフラッシュメッセージ用
.alert-notice {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.alert-alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}


// 投稿画像一覧ページ画像サイズ
.post-all img{
  height: 200px;
  width: 200px;
  object-fit: contain;
}

// 投稿詳細ページ画像サイズ
.post-image img{
  height: 600px;
  width: 600px;
  object-fit: contain;
}

// 下書き保存画像サイズ
.post-confirm img{
  height: 100px;
  width: 100px;
  object-fit: contain;
}


// お知らせ一覧画像サイズ
.message-image img{
  height: 300px;
  width: 300px;
  object-fit: contain;
}