@use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';

.main-container {
  padding: 0;
}

.main-visual {
  padding: 0;
}

.main-visual .col {
  padding: 0;
}


.alert-notice {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.alert-alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
