<div class="container">
  <div class="row">
    <h4 class="mt-5"><%= image_tag "favorite.jpg", size: "220x50" %></h4>
  </div>

  <div class="col-md-12 my-2">
    <div class="row">
      <% @favorite_posts.each do |post| %>
        <div class="col-md-3 mt-3">
        <%= link_to post_path(post.id) do %>
          <%= image_tag (post.image), size: "200x200" %>
        <% end %>
        </div>
      <% end %>
    </div>
    <div class="pagination justify-content-center mt-2">
      <%= paginate @favorite_posts, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>
